@use "/src/styles/function" as *;
@use "/src/styles/styles" as *;

.memoir-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(5px);

    .sub-title-container {
        display: flex;
        flex-direction: column;
        margin-left: rem(98px);
        gap: rem(5px);
    }
}
